html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body{
    background-image: url(../images/socks.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    margin: 0 auto;
    width: 1200px;
}
.parent-flex{
    display: flex;
    min-height: 50px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.menu-parent-flex{
    display: flex;
    justify-content: space-around;
}
.menu{
    background-color: #d0eaea70;
    min-height: 50px;
    width: 1200px;
    align-items: center;
}
form{
    background-color: #d0eaea70;
    background-size: 1200px;
    flex-direction: column;
    height: 350px;
    width: 66%;
}
.info{
    display: flex;
    flex-direction: column;
}
.info > input{
    margin: 5px 0;
    padding-inline-start: 5px;
}
.choice{
    margin: 6px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: flex-start;
}
.choice p{
    margin-bottom: 10px;
}
.buttons > input + input{
    margin-left:10px  ;
}
.info input::-webkit-input-placeholder{
    opacity: 1;
    color:slategrey;
    transition: opacity 0.3s ease;
    padding-left: 5px;
}
.info input:focus::-webkit-input-placeholder{
    opacity: 0;
    transition: opacity 0.3s ease;
    outline:none;
}
.select p {
    margin: 5px auto;
    display: block;
}
.select select{
    display: block;
    width: 100%;
    background: none;
    border: 1px solid;
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance:none;
}
select{
    position: relative;
}
.select:after{
    content: "";
    display: block;
    border-style: solid;
    pointer-events: none;
    position: absolute;
    top: 21%;
    right: 45%;
}
/*.animated{*/
/*    transition-property: background-image;*/
/*    transition-timing-function: ease-in-out;*/
/*}*/